## 1. Os dez videogames mais vendidos
<p><img src="https://assets.datacamp.com/production/project_1413/img/video_game.jpg" alt="A video game player choosing a game to play on Nintendo Switch." width="400"></p>
<p>


Os videogames são um grande negócio: o mercado global de jogos está projetado para valer mais de US$ 300 bilhões até 2027, de acordo com <a href="https://www.mordorintelligence.com/industry-reports/global-gaming-market">Mordor Inteligência</a>. Com tanto dinheiro em jogo, os principais editores de jogos são extremamente incentivados a criar o próximo grande sucesso. Mas os jogos estão melhorando ou a era de ouro dos videogames já passou?</p>
<p>Neste projeto, exploraremos os 400 videogames mais vendidos criados entre 1977 e 2020. Compararemos um conjunto de dados sobre vendas de jogos com análises de críticos e usuários para determinar se os videogames melhoraram ou não conforme o mercado de jogos cresceu.</p>
<p>Nosso banco de dados contém duas tabelas. Limitamos cada tabela a 400 linhas para este projeto, mas você pode encontrar o conjunto de dados completo com mais de 13.000 jogos em <a href="https://www.kaggle.com/holmjason2/videogamedata">Kaggle</a>. </p>
<h3 id="game_sales"><code>game_sales</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>game</code></td>
<td>varchar</td>
<td>Name of the video game</td>
</tr>
<tr>
<td style="text-align:left;"><code>platform</code></td>
<td>varchar</td>
<td>Gaming platform</td>
</tr>
<tr>
<td style="text-align:left;"><code>publisher</code></td>
<td>varchar</td>
<td>Game publisher</td>
</tr>
<tr>
<td style="text-align:left;"><code>developer</code></td>
<td>varchar</td>
<td>Game developer</td>
</tr>
<tr>
<td style="text-align:left;"><code>games_sold</code></td>
<td>float</td>
<td>Number of copies sold (millions)</td>
</tr>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Release year</td>
</tr>
</tbody>
</table>
<h3 id="reviews"><code>reviews</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>game</code></td>
<td>varchar</td>
<td>Name of the video game</td>
</tr>
<tr>
<td style="text-align:left;"><code>critic_score</code></td>
<td>float</td>
<td>Critic score according to Metacritic</td>
</tr>
<tr>
<td style="text-align:left;"><code>user_score</code></td>
<td>float</td>
<td>User score according to Metacritic</td>
</tr>
</tbody>
</table>
<p>Vamos começar analisando alguns dos videogames mais vendidos de todos os tempos!</p>

In [79]:
%%sql 
postgresql:///games
    
-- Select all information for the top ten best-selling games
-- Order the results from best-selling game down to tenth best-selling
SELECT *
    FROM game_sales
    ORDER BY games_sold DESC
    LIMIT 10;

10 rows affected.

[('Wii Sports for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('82.90'), 2006),
 ('Super Mario Bros. for NES', 'NES', 'Nintendo', 'Nintendo EAD', Decimal('40.24'), 1985),
 ('Counter-Strike: Global Offensive for PC', 'PC', 'Valve', 'Valve Corporation', Decimal('40.00'), 2012),
 ('Mario Kart Wii for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('37.32'), 2008),
 ("PLAYERUNKNOWN'S BATTLEGROUNDS for PC", 'PC', 'PUBG Corporation', 'PUBG Corporation', Decimal('36.60'), 2017),
 ('Minecraft for PC', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010),
 ('Wii Sports Resort for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('33.13'), 2009),
 ('Pokemon Red / Green / Blue Version for GB', 'GB', 'Nintendo', 'Game Freak', Decimal('31.38'), 1998),
 ('New Super Mario Bros. for DS', 'DS', 'Nintendo', 'Nintendo EAD', Decimal('30.80'), 2006),
 ('New Super Mario Bros. Wii for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('30.30'), 2009)]

## 2. Pontuações de revisão ausentes
<p>Uau, os videogames mais vendidos foram lançados entre 1985 e 2017! Isso é um intervalo e tanto; teremos que usar os dados da tabela <code>reviews</code> para obter mais informações sobre os melhores anos para videogames. </p>
<p>Primeiro, é importante explorar as limitações de nosso banco de dados. Uma grande falha é que não há dados de <code>reviews</code> para alguns dos jogos na tabela <code>game_sales</code>. </p>

In [81]:
%%sql

-- Join games_sales and reviews
-- Count the number of games where both critic_score and user_score are null
SELECT COUNT(g.game)
FROM game_sales g
LEFT JOIN reviews r
ON g.game = r.game
WHERE critic_score IS NULL AND user_score IS NULL;

 * postgresql:///games
1 rows affected.

[(31,)]

## 3. Anos que os críticos de videogame adoravam
<p>Parece que um pouco menos de dez por cento dos jogos na tabela <code>game_sales</code> não tem nenhum dado de avaliação. Essa é uma porcentagem pequena o suficiente para que possamos continuar nossa exploração, mas é bom ter em mente os dados de revisões ausentes à medida que passamos a avaliar os resultados de consultas mais sofisticadas. </p>
<p>Existem várias maneiras de medir os melhores anos para videogames! Vamos começar com o que os críticos pensam. </p>

In [83]:
%%sql

-- Select release year and average critic score for each year, rounded and aliased
-- Join the game_sales and reviews tables
-- Group by release year
-- Order the data from highest to lowest avg_critic_score and limit to 10 results
SELECT g.year, ROUND(AVG(r.critic_score),2) AS avg_critic_score
FROM game_sales g
INNER JOIN reviews r
ON g.game = r.game
GROUP BY g.year
ORDER BY avg_critic_score DESC
LIMIT 10;

 * postgresql:///games
10 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (1998, Decimal('9.32')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (2004, Decimal('9.03')),
 (1982, Decimal('9.00')),
 (2002, Decimal('8.99')),
 (1999, Decimal('8.93'))]

## 4. 1982 foi realmente tão bom assim?
<p>O intervalo de grandes anos de acordo com as críticas vai de 1982 a 2020: não estamos mais perto de encontrar a era de ouro dos videogames! </p>
<p>Aguente firme. Alguns desses valores <code>avg_critic_score</code> parecem números arredondados suspeitos para médias. O valor para 1982 parece especialmente duvidoso. Talvez não houvesse muitos videogames em nosso conjunto de dados lançados em determinados anos. </p>
<p>Vamos atualizar nossa consulta e descobrir se 1982 foi realmente um ano tão bom para os videogames.</p>

In [85]:
%%sql

-- Paste your query from the previous task; update it to add a count of games released in each year called num_games
-- Update the query so that it only returns years that have more than four reviewed games
SELECT g.year, COUNT(g.game) AS num_games, ROUND(AVG(r.critic_score),2) AS avg_critic_score
FROM game_sales g
INNER JOIN reviews r
ON g.game = r.game
GROUP BY g.year
HAVING COUNT(g.game) > 4
ORDER BY avg_critic_score DESC
LIMIT 10;

 * postgresql:///games
10 rows affected.

[(1998, 10, Decimal('9.32')),
 (2004, 11, Decimal('9.03')),
 (2002, 9, Decimal('8.99')),
 (1999, 11, Decimal('8.93')),
 (2001, 13, Decimal('8.82')),
 (2011, 26, Decimal('8.76')),
 (2016, 13, Decimal('8.67')),
 (2013, 18, Decimal('8.66')),
 (2008, 20, Decimal('8.63')),
 (2012, 12, Decimal('8.62'))]

## 5. Anos que caíram na lista de favoritos da crítica
<p>Assim fica melhor! A coluna <code>num_games</code> nos convence de que nossa nova lista dos melhores jogos da crítica reflete anos que tiveram alguns jogos bem avaliados, em vez de apenas um ou dois sucessos. Mas quais anos saíram da lista por terem quatro ou menos jogos revisados? Vamos identificá-los para que algum dia possamos rastrear mais análises de jogos desses anos e determinar se eles podem ser considerados anos excelentes para lançamentos de videogames!</p>
<p>É hora de jogar fora suas habilidades de teoria de conjuntos. Para começar, criamos tabelas com os resultados de nossas duas consultas anteriores:</p>
<p>É hora de jogar fora suas habilidades de teoria de conjuntos. Para começar, criamos tabelas com os resultados de nossas duas consultas anteriores:</p>
<h3 id="top_critic_years"><code>top_critic_years</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>
<h3 id="top_critic_years_more_than_four_games"><code>top_critic_years_more_than_four_games</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Count of the number of video games released in that year</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>

In [87]:
%%sql 

-- Select the year and avg_critic_score for those years that dropped off the critics' favorites list
-- Order the results from highest to lowest avg_critic_score
SELECT year, avg_critic_score
FROM top_critic_years
EXCEPT
SELECT year, avg_critic_score
FROM top_critic_years_more_than_four_games
ORDER BY avg_critic_score DESC;

 * postgresql:///games
6 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (1982, Decimal('9.00'))]

## 6. Anos que os jogadores de videogame adoram
<p>Com base em nosso trabalho na tarefa acima, parece que o início dos anos 1990 pode merecer consideração como a era de ouro dos videogames baseados apenas em <code>critic_score</code>, mas precisaríamos reunir mais jogos e revisa os dados para fazer uma análise mais aprofundada. </p>
<p>Vamos ver a opinião de outro importante grupo de pessoas: os jogadores! Para começar, vamos criar uma consulta muito semelhante à que usamos na Tarefa Quatro, exceto que esta examinará as médias de <code>user_score</code> por ano, em vez das médias de <code>critic_score</code>.</p >

In [89]:
%%sql

-- Select year, an average of user_score, and a count of games released in a given year, aliased and rounded
-- Include only years with more than four reviewed games; group data by year
-- Order data by avg_user_score, and limit to ten results
SELECT g.year, COUNT(g.game) AS num_games, ROUND(AVG(r.user_score),2) AS avg_user_score
FROM game_sales g
INNER JOIN reviews r
ON g.game = r.game
GROUP BY g.year
HAVING COUNT(g.game) > 4
ORDER BY avg_user_score DESC
LIMIT 10;

 * postgresql:///games
10 rows affected.

[(1997, 8, Decimal('9.50')),
 (1998, 10, Decimal('9.40')),
 (2010, 23, Decimal('9.24')),
 (2009, 20, Decimal('9.18')),
 (2008, 20, Decimal('9.03')),
 (1996, 5, Decimal('9.00')),
 (2005, 13, Decimal('8.95')),
 (2006, 16, Decimal('8.95')),
 (2000, 8, Decimal('8.80')),
 (1999, 11, Decimal('8.80'))]

## 7. Anos que jogadores e críticos adoraram
<p>Tudo bem, temos uma lista dos dez melhores anos de acordo com as críticas e avaliações dos usuários. Há algum ano que apareceu em ambas as tabelas? Se assim fosse, certamente seriam anos excelentes!</p>
<p>Lembre-se de que temos acesso à tabela <code>top_critic_years_more_than_four_games</code>, que armazena os resultados de nossa consulta de anos críticos principais da Tarefa 4:</p>
<h3 id="top_critic_years_more_than_four_games"><code>top_critic_years_more_than_four_games</code></h3>
<tabela>
<thead>
<tr>
<th style="text-align:left;">coluna</th>
<th>tipo</th>
<th>significado</th>
</tr>
</thead>
<corpo>
<tr>
<td style="text-align:left;"><code>ano</code></td>
<td>int</td>
<td>Ano de lançamento do videogame</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Contagem do número de videogames lançados naquele ano</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>flutua</td>
<td>Média de todas as pontuações da crítica para jogos lançados naquele ano</td>
</tr>
</tbody>
</table>
<p>Também salvamos os resultados de nossa consulta de anos de usuários principais da tarefa anterior em uma tabela:</p>
<h3 id="top_user_years_more_than_four_games"><code>top_user_years_more_than_four_games</code></h3>
<tabela>
<thead>
<tr>
<th style="text-align:left;">coluna</th>
<th>tipo</th>
<th>significado</th>
</tr>
</thead>
<corpo>
<tr>
<td style="text-align:left;"><code>ano</code></td>
<td>int</td>
<td>Ano de lançamento do videogame</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Contagem do número de videogames lançados naquele ano</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_user_score</code></td>
<td>flutua</td>
<td>Média de todas as pontuações dos usuários para jogos lançados naquele ano</td>
</tr>
</tbody>
</table>

In [91]:
%%sql 

-- Select the year results that appear on both tables
SELECT year
FROM top_user_years_more_than_four_games
INTERSECT
SELECT year
FROM top_critic_years_more_than_four_games;

 * postgresql:///games
3 rows affected.

[(1998,), (2008,), (2002,)]

## 8. Vendas nos melhores anos de videogame
<p>Parece que há três anos que usuários e críticos concordam que estão entre os dez primeiros! Existem muitas outras maneiras de medir quais são os melhores anos para os videogames, mas vamos nos ater a esses anos por enquanto. Sabemos que críticos e jogadores gostaram desses anos, mas e os fabricantes de videogames? As vendas foram boas? Vamos descobrir.</p>
<p>Desta vez, não salvamos os resultados da tarefa anterior em uma tabela para você. Em vez disso, usaremos a consulta da tarefa anterior como uma subconsulta desta! Essa é uma ótima habilidade, pois nem sempre temos permissões de gravação no banco de dados que estamos consultando.</p>

In [93]:
%%sql 

-- Select year and sum of games_sold, aliased as total_games_sold; order results by total_games_sold descending
-- Filter game_sales based on whether each year is in the list returned in the previous task
SELECT g.year, SUM(g.games_sold) AS total_games_sold
FROM game_sales g
WHERE g.year IN (SELECT year
FROM top_user_years_more_than_four_games
INTERSECT
SELECT year
FROM top_critic_years_more_than_four_games)
GROUP BY g.year
ORDER BY total_games_sold DESC;

 * postgresql:///games
3 rows affected.

[(2008, Decimal('175.07')),
 (1998, Decimal('101.52')),
 (2002, Decimal('58.67'))]